@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

img {
  max-width: 100%;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.justify-center {
  justify-content: center;
}

.text-Grey-500 {
  color: hsl(234, 12%, 34%);
}

.text-Grey-400 {
  color: hsl(212, 6%, 44%);
}

.m-0 {
  margin: 0;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.display-f {
  display: flex;
}

.display-g {
  display: grid;
}

.font-lg {
  font-size: 1.5rem;
}

body {
  min-height: 100svh;
  align-items: center;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.heading-section {
  text-align: center;
}

.heading-title {
  font-weight: 400;
}

.heading-second {
  font-weight: 600;
}

.heading-description {
  font-size: 15px;
  font-weight: 200;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.6;
}

.cards-container {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
}
@media (max-width: 375px) {
  .cards-container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-top: 4px solid;
  min-height: 200px;
}
.card:nth-child(1) {
  border-color: hsl(180, 62%, 55%);
  grid-column: 1;
  grid-row: 1/span 2;
}
.card:nth-child(2) {
  border-color: hsl(0, 78%, 62%);
  grid-column: 2;
  grid-row: 1;
}
.card:nth-child(3) {
  border-color: hsl(34, 97%, 64%);
  grid-column: 2;
  grid-row: 2;
}
.card:nth-child(4) {
  border-color: hsl(212, 86%, 64%);
  grid-column: 3;
  grid-row: 1/span 2;
}
@media (max-width: 375px) {
  .card {
    grid-column: 1 !important;
    grid-row: auto !important;
  }
}
.card-title {
  margin: 0 0 1rem;
  color: hsl(234, 12%, 34%);
  font-size: 1.25rem;
}
.card-body {
  margin: 0;
  color: hsl(212, 6%, 44%);
  font-size: 0.9rem;
  line-height: 1.6;
}
.card img {
  margin-top: 40px;
  float: right;
}